/* .navbar navbar-expand-lg bg-light{
  background: #f0f6fb;

} */


.subtitle{
    font-size: 24px;
    line-height: 2;
    color: #6c63ff;
    font-weight: 700;
    line-height: 2;
}

.title{
    font-size: 55px;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;

}
.paragraph{
    font-size: 24;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
}
.banner-btn{
    background-color: #6c63ff;
    padding: 12px 58px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #6c63ff;
    box-shadow: 0px 5px 15px 0px rgba(8, 0, 140, 0.19);
    border-radius: 28px;
    color: #fff;
    padding-top: 10px;
    
  
}
.paragraph-gray{
    font-size: 18px;
    line-height: 1.55;
    color: #666666;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
    
}

.font-track{
    font-weight: 700;
    font-size: 21px;
    font-family: inherit;
}

.ser-icon span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 21px;
    margin-bottom: 20px;
  }
  .theme-bg {
    background: #6c63ff;
  }
  .text-white {
    color: #fff !important;
  }
  .d-block {
    display: block !important;
  }
  .paragraph-grayy{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
  }  
  


#ce{
    text-align: center;
    
    
  }
#pr{
    
    padding-bottom:5px ;
    margin-top: 30px;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:5px ;
    margin-top: 30px;
    
  }

#ancor{
    margin-left: 85px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 100px;
    font-weight: 800px;
    margin-top: 50px;
    padding-bottom: 50px;
}

#bord{
   
    box-shadow: 0px 3px 24px 3px rgba(7, 7, 7, 0.04);
    
}

.service-icon{
  background-color: #6c63ff;
  border-radius: 50%;
  padding: 20px;
}

.single-blog-content {
  font-size: 18px;
  font-weight: 700;
}

.mb-1, .my-1 {
  margin-bottom: .25rem !important;
}

.cont{
  font-weight: 700;
  font-size: 20px;
}

.primary-bg {
  background: #f0f6fb;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 0 !important;
  padding-right: 10px;
}
.area{
  min-height: 200px;
  
}
.pl-20 {
  padding-left: 20px;
}
.btn-lg{
  background-color: #6c63ff;
  padding: 12px 58px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #6c63ff;
  box-shadow: 0px 5px 15px 0px rgba(8, 0, 140, 0.19);
  color: #fff;
  outline: 0 none;
  text-transform: capitalize;
  transition: .3s;
  -webkit-border-radius: 28px;
}



.pl-15 {
  padding-left: 30px;
}
.text-center {
  text-align: center !important;
}
.d-inline-block {
  display: inline-block !important;
}
.google-plus-color {
  color: #dd4b39;
  
}
.facebook-color {
  color: #3b5998;
}
.twitter-color {
  color: #1da1f2;
}
.linkedin-color {
  color: #0077b5;
}

.main-menu ul li > a {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  text-transform: capitalize;
  padding: 5px 0;
  position: relative;
  
}