
.subtitle{
    font-size: 24px;
    line-height: 2;
    color: #6c63ff;
    font-weight: 700;
    line-height: 2;
}

.title{
    font-size: 55px;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;

}
.paragraph{
    font-size: 24;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
}
.banner-btn{
    background-color: #6c63ff;
    padding: 12px 58px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #6c63ff;
    box-shadow: 0px 5px 15px 0px rgba(8, 0, 140, 0.19);
    border-radius: 28px;
    color: #fff;
    padding-top: 10px;
    
  
}
.paragraph-gray{
    font-size: 18px;
    line-height: 1.55;
    color: #666666;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
    
}

.font-track{
    font-weight: 700;
    font-size: 21px;
    font-family: inherit;
}

.ser-icon span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 21px;
    margin-bottom: 20px;
  }
  .theme-bg {
    background: #6c63ff;
  }
  .text-white {
    color: #fff !important;
  }
  .d-block {
    display: block !important;
  }
  .paragraph-grayy{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
  }  
  
  .d-flex {
    
    display: flex !important;
  }
  .feature-icon {
    font-size: 23px;
  }
  .theme-color {
    color: #6c63ff;
  }
  .fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }